* {
  box-sizing: border-box;
  color: white;
} 

body {
  background-color: #6888FC;
}

@font-face {
    font-family: 'silkscreen_expandednormal';
    src: url('https://rawgit.com/KenTjie/KenTjie.github.io/master/slkscr-webfont.eot');
    src: url('https://rawgit.com/KenTjie/KenTjie.github.io/master/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://rawgit.com/KenTjie/KenTjie.github.io/master/slkscr-webfont.woff') format('woff'),
         url('https://rawgit.com/KenTjie/KenTjie.github.io/master/slkscr-webfont.ttf') format('truetype'),
         url('https://rawgit.com/KenTjie/KenTjie.github.io/master/slkscr-webfont.svg#silkscreen_expandednormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

p { 
  font-family: 'silkscreen_expandednormal', Arial, sans-serif; 
}
          
#name,#desc {	
  background-color: #c90000;
}
            
#name {
  font-size: 5em;
  text-align: center;
}
            
#desc {
  width: 90%;
  border-radius: 20px;
  margin: auto;
  display: block;
}
            
ul {
  list-style: none;
  text-align: center;
}
            
li {
  font-size: 1.25em;
  text-align: center;
}
            
#resume {   
  display: block;
  margin: 1em auto;
}

#links {
  display: inline-block;
  margin: 0.5em auto; 
  padding: 0 2em;
}
            
#buttons {
  text-align: center;
}
            
#ground {
  background-image: url("https://rawgit.com/KenTjie/KenTjie.github.io/master/sprites/ground.png");
  height: 40px;
}
             
#me {
  display: block;
  margin: auto;
}
